/*Import Fontów*/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Playfair+Display:ital,wght@0,500;1,500&display=swap');

:root
{
    /*Kolory*/
    --clr-bg: #F0EBE1;
    --clr-h: #928B7D;
    --clr-text: #A79F8E;
    
    /*Typografia*/
    --fw-p: 400;
    --fw-h:500;
    --ff-h: 'Playfair Display', serif;
    --ff-p: 'Hanken Grotesk', sans-serif;

    font-size:62.5%;
    

}

body{
    background: var(--clr-bg);
}
/*MAKSMALNA SZEROKOŚĆ CONTENTU*/
.product__card--custom{
    max-width: 1200px;
    margin: 0 auto;
}



/*TYPOGRAFIA*/
h1,h2,h3,h4{
    font-family: var(--ff-h);
    font-weight: var(--fw-h);
    color:var(--clr-h);
}
.nag1{
    font-size: 5.8rem;
    line-height: 7.3rem;
}
.right{
    text-align: right;
}

/*IMAGES*/

.product__card--custom img{
    max-width: 100%;
    
}
.section__photo{
    max-height:fit-content;
    position:relative;
}

/*BG-IMAGES*/
.bg__lf{
    position: absolute;
    z-index: -1;
}

.bg__lf--big{
    top:-100%;
    rotate: 75deg;
    height:2000px;
}
.bg__lf--big2{
    scale:1.5;
}

/*ZDJĘCIA KOLORÓW*/
.kolor img{
    max-height:10rem;
}



.grid__group{
    display:grid;
    min-height:50vh;
    position:relative;
    
}

.colors__flex{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
}
